In [ ]:
import json
import os
import re

import pandas as pd
from dotenv import load_dotenv
import google.generativeai as genai
from sqlalchemy import create_engine, inspect
from sqlalchemy.orm import sessionmaker


load_dotenv()

GOOGLE_API_KEY = os.getenv("GOOGLE_API_KEY")
PASS = os.getenv("PASS")
DATABASE = os.getenv("DATABASE")
USER = os.getenv("USER")
HOST = os.getenv("HOST")
DATABASE_CLIENT = os.getenv("DATABASE_CLIENT")
PORT = os.getenv("PORT")

In [2]:
def create_db_connection(password):
    # Create connection string
    DATABASE_URL = f"{DATABASE_CLIENT}://{USER}:{password}@{HOST}:{PORT}/{DATABASE}"
    engine = create_engine(DATABASE_URL)

    # Create session factory
    Session = sessionmaker(bind=engine)

    return engine, Session()

In [3]:
engine, session = create_db_connection(PASS)

In [4]:
inspector = inspect(engine)

In [5]:
existing_tables = inspector.get_table_names()
existing_tables

['flights', 'airlines', 'airports']

In [6]:
from prompts import (
  background_for_context,
  airlines_prompt,
  airports_prompt,
  flights_prompt,
  TEXT_TO_SQL_RULES
)

In [7]:
sql_generation_system_prompt = f"""
You are a helpful assistant that converts natural language queries into ANSI SQL queries.

###Your Background###

{background_for_context}

###Database Schema###

The database contains three tables: airlines, airports and flights. The detail are as follows:

{airlines_prompt}

{airports_prompt}

{flights_prompt}


Given user's question, database schema, etc., you should think deeply and carefully and generate the SQL query based on the given reasoning plan step by step.
Also be aware when using where clause to values they might be case sensitive as well.

{TEXT_TO_SQL_RULES}

### FINAL ANSWER FORMAT ###
The final answer must be a ANSI SQL query in JSON format. Strictly provide the output, no explanation details or summarizing.

{{
    "sql": <SQL_QUERY_STRING>
}}
"""

In [8]:
print(sql_generation_system_prompt)

You are a helpful assistant that converts natural language queries into ANSI SQL queries.

###Your Background###


The U.S. Department of Transportation's (DOT) Bureau of Transportation Statistics tracks the on-time performance of domestic flights operated by large air carriers.
Summary information on the number of on-time, delayed, canceled, and diverted flights is published in DOT's monthly Air Travel Consumer Report and in this dataset of 2015 flight delays and cancellations.


###Database Schema###

The database contains three tables: airlines, airports and flights. The detail are as follows:


airlines table: This table provides a information about IATA codes and their full names.
Columns:
iata_code: Two-letter IATA code assigned to the airline.
airline: Full name of the airline.



airports table: This table contains information about various airports, including their locations.
Columns:
iata_code: Three-letter IATA airport code.
airport: Name of the airport.
city: City where the airport is located.
state: State where the airport is located.
country: Country where the airport is located.
latitude: Geographical latitude of the airport.
longitude: Geographical longitude of the airport.



flights table: This table contains comprehensive details of individual flight records for the year 2015.
Columns:
year: Year of the flight (2015).
month: Month of the flight (1–12).
day: Day of the month (1–31).
day_of_week: Day of the week (1=Monday, 7=Sunday).
airline: Two-letter IATA code of the airline.
flight_number: Flight number.
tail_number: Aircraft's tail number.
origin_airport: IATA code of the origin airport.
destination_airport: IATA code of the destination airport.
scheduled_departure: Scheduled departure time (HHMM, local time).
departure_time: Actual departure time (HHMM, local time).
departure_delay: Difference in minutes between scheduled and actual departure times.
taxi_out: Taxi-out time in minutes.
wheels_off: Time when the aircraft's wheels leave the ground (HHMM, local time).
scheduled_time: Scheduled flight time in minutes.
elapsed_time: Actual flight time in minutes.
air_time: Time spent in the air in minutes.
distance: Distance between airports in miles.
wheels_on: Time when the aircraft's wheels touch the ground (HHMM, local time).
taxi_in: Taxi-in time in minutes.
scheduled_arrival: Scheduled arrival time (HHMM, local time).
arrival_time: Actual arrival time (HHMM, local time).
arrival_delay: Difference in minutes between scheduled and actual arrival times.
diverted: Indicates if the flight was diverted (1=yes, 0=no).
cancelled: Indicates if the flight was canceled (1=yes, 0=no).
cancellation_reason: Reason for cancellation (A=Airline/Carrier, B=Weather, C=National Air System, D=Security).
air_system_delay: Delay due to air traffic control in minutes.
security_delay: Delay caused by security issues in minutes.
airline_delay: Delay caused by the airline in minutes.
late_aircraft_delay: Delay due to a previous flight with the same aircraft arriving late, causing the present flight to depart late in minutes.
weather_delay: Delay caused by weather conditions in minutes.



Given user's question, database schema, etc., you should think deeply and carefully and generate the SQL query based on the given reasoning plan step by step.
Also be aware when using where clause to values they might be case sensitive as well.


#### SQL RULES ####
- ONLY USE SELECT statements, NO DELETE, UPDATE OR INSERT etc. statements that might change the data in the database.
- ONLY USE the tables and columns mentioned in the database schema.
- ONLY USE "*" if the user query asks for all the columns of a table.
- ONLY CHOOSE columns belong to the tables mentioned in the database schema.
- YOU MUST USE "JOIN" if you choose columns from multiple tables!
- YOU MUST USE alias if users asks for counting, summing, averaging, and other statistical operations. The alias must be user friendly and understandable.
- ALWAYS QUALIFY column names with their table name or table alias to avoid ambiguity (e.g., orders.OrderId, o.OrderId)
- YOU MUST USE "lower(<table_name>.<column_name>) like lower(<value>)" function or "lower(<table_name>.<column_name>) = lower(<value>)" function for case-insensitive comparison!
    - Use "lower(<table_name>.<column_name>) LIKE lower(<value>)" when:
        - The user requests a pattern or partial match.
        - The value is not specific enough to be a single, exact value.
        - Wildcards (%) are needed to capture the pattern.
    - Use "lower(<table_name>.<column_name>) = lower(<value>)" when:
        - The user requests an exact, specific value.
        - There is no ambiguity or pattern in the value.
- ALWAYS CAST the date/time related field to "TIMESTAMP WITH TIME ZONE" type when using them in the query
    - example 1: CAST(properties_closedate AS TIMESTAMP WITH TIME ZONE)
    - example 2: CAST('2024-11-09 00:00:00' AS TIMESTAMP WITH TIME ZONE)
    - example 3: CAST(DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') AS TIMESTAMP WITH TIME ZONE)
- If the user asks for a specific date, please give the date range in SQL query
    - example: "What is the total revenue for the month of 2024-11-01?"
    - answer: "SELECT SUM(r.PriceSum) FROM Revenue r WHERE CAST(r.PurchaseTimestamp AS TIMESTAMP WITH TIME ZONE) >= CAST('2024-11-01 00:00:00' AS TIMESTAMP WITH TIME ZONE) AND CAST(r.PurchaseTimestamp AS TIMESTAMP WITH TIME ZONE) < CAST('2024-11-02 00:00:00' AS TIMESTAMP WITH TIME ZONE)"
- USE THE VIEW TO SIMPLIFY THE QUERY.
- DON'T MISUSE THE VIEW NAME. THE ACTUAL NAME IS FOLLOWING THE CREATE VIEW STATEMENT.
- MUST USE the value of alias from the comment section of the corresponding table or column in the DATABASE SCHEMA section for the column/table alias.
  - EXAMPLE
    DATABASE SCHEMA
    /* {"displayName":"_orders","description":"A model representing the orders data."} */
    CREATE TABLE orders (
      -- {"description":"A column that represents the timestamp when the order was approved.","alias":"_timestamp"}
      ApprovedTimestamp TIMESTAMP
    }

    SQL
    SELECT _orders.ApprovedTimestamp AS _timestamp FROM orders AS _orders;
- DON'T USE '.' in column/table alias, replace '.' with '_' in column/table alias.
- DON'T USE "FILTER(WHERE <expression>)" clause in the generated SQL query.
- DON'T USE "EXTRACT(EPOCH FROM <expression>)" clause in the generated SQL query.
- DON'T USE INTERVAL or generate INTERVAL-like expression in the generated SQL query.
- ONLY USE the following SQL keywords while generating SQL query:
  - Aggregation functions:
    - AVG
    - COUNT
    - MAX
    - MIN
    - SUM
    - ARRAY_AGG
    - BOOL_OR
  - Math functions:
    - ABS
    - CBRT
    - CEIL
    - EXP
    - FLOOR
    - LN
    - ROUND
    - SIGN
    - GREATEST
    - LEAST
    - MOD
    - POWER
  - String functions:
    - LENGTH
    - REVERSE
    - CHR
    - CONCAT
    - FORMAT
    - LOWER
    - LPAD
    - LTRIM
    - POSITION
    - REPLACE
    - RPAD
    - RTRIM
    - STRPOS
    - SUBSTR
    - SUBSTRING
    - TRANSLATE
    - TRIM
    - UPPER
  - Date and Time functions:
    - CURRENT_DATE
    - DATE_TRUNC
    - EXTRACT
  - operators:
    - `+`
    - `-`
    - `*`
    - `/`
    - `||`
    - `<`
    - `>`
    - `>=`
    - `<=`
    - `=`
    - `<>`
    - `!=`
- ONLY USE JSON_QUERY for querying fields if "json_type":"JSON" is identified in the columns comment, NOT the deprecated JSON_EXTRACT_SCALAR function.
    - DON'T USE CAST for JSON fields, ONLY USE the following funtions:
      - LAX_BOOL for boolean fields
      - LAX_FLOAT64 for double and float fields
      - LAX_INT64 for bigint fields
      - LAX_STRING for varchar fields
    - For Example:
      DATA SCHEMA:
        `/* {"displayName":"users","description":"A model representing the users data."} */
        CREATE TABLE users (
            -- {"alias":"address","description":"A JSON object that represents address information of this user.","json_type":"JSON","json_fields":{"json_type":"JSON","address.json.city":{"name":"city","type":"varchar","path":"$.city","properties":{"displayName":"city","description":"City Name."}},"address.json.state":{"name":"state","type":"varchar","path":"$.state","properties":{"displayName":"state","description":"ISO code or name of the state, province or district."}},"address.json.postcode":{"name":"postcode","type":"varchar","path":"$.postcode","properties":{"displayName":"postcode","description":"Postal code."}},"address.json.country":{"name":"country","type":"varchar","path":"$.country","properties":{"displayName":"country","description":"ISO code of the country."}}}}
            address JSON
        )`
      To get the city of address in user table use SQL:
      `SELECT LAX_STRING(JSON_QUERY(u.address, '$.city')) FROM user as u`
- ONLY USE JSON_QUERY_ARRAY for querying "json_type":"JSON_ARRAY" is identified in the comment of the column, NOT the deprecated JSON_EXTRACT_ARRAY.
    - USE UNNEST to analysis each item individually in the ARRAY. YOU MUST SELECT FROM the parent table ahead of the UNNEST ARRAY.
    - The alias of the UNNEST(ARRAY) should be in the format `unnest_table_alias(individual_item_alias)`
      - For Example: `SELECT item FROM UNNEST(ARRAY[1,2,3]) as my_unnested_table(item)`
    - If the items in the ARRAY are JSON objects, use JSON_QUERY to query the fields inside each JSON item.
      - For Example:
      DATA SCHEMA
        `/* {"displayName":"my_table","description":"A test my_table"} */
        CREATE TABLE my_table (
            -- {"alias":"elements","description":"elements column","json_type":"JSON_ARRAY","json_fields":{"json_type":"JSON_ARRAY","elements.json_array.id":{"name":"id","type":"bigint","path":"$.id","properties":{"displayName":"id","description":"data ID."}},"elements.json_array.key":{"name":"key","type":"varchar","path":"$.key","properties":{"displayName":"key","description":"data Key."}},"elements.json_array.value":{"name":"value","type":"varchar","path":"$.value","properties":{"displayName":"value","description":"data Value."}}}}
            elements JSON
        )`
        To get the number of elements in my_table table use SQL:
        `SELECT LAX_INT64(JSON_QUERY(element, '$.number')) FROM my_table as t, UNNEST(JSON_QUERY_ARRAY(elements)) AS my_unnested_table(element) WHERE LAX_FLOAT64(JSON_QUERY(element, '$.value')) > 3.5`
    - To JOIN ON the fields inside UNNEST(ARRAY), YOU MUST SELECT FROM the parent table ahead of the UNNEST syntax, and the alias of the UNNEST(ARRAY) SHOULD BE IN THE FORMAT unnest_table_alias(individual_item_alias)
      - For Example: `SELECT p.column_1, j.column_2 FROM parent_table AS p, join_table AS j JOIN UNNEST(p.array_column) AS unnested(array_item) ON j.id = array_item.id`
- DON'T USE JSON_QUERY and JSON_QUERY_ARRAY when "json_type":"".
- DON'T USE LAX_BOOL, LAX_FLOAT64, LAX_INT64, LAX_STRING when "json_type":"".


### FINAL ANSWER FORMAT ###
The final answer must be a ANSI SQL query in JSON format. Strictly provide the output, no explanation details or summarizing.

{
    "sql": <SQL_QUERY_STRING>
}

In [ ]:
from typing import TypedDict

class SQL(TypedDict):
    results: str

In [ ]:
model = genai.GenerativeModel(model_name="models/gemini-2.0-flash")

result = model.generate_content(
    "I want all of the information about airlines.",
    generation_config=genai.GenerationConfig(
        response_mime_type="application/json",
        response_schema={
            "type": "object",
            "properties": {
                "sql": {"type": "string"}
            },
            "required": ["sql"],
        },
    ),
    request_options={"timeout": 600},
)

In [23]:
result.text

'{\n  "sql": "SELECT * FROM airlines"\n}'

In [24]:
def execute_query(query):
    """
    Execute SQL Query

    Parameters:
    query (str): SQL query to execute

    Returns:
    pandas.DataFrame: Query results as DataFrame
    """
    try:
        # Execute query and load results into DataFrame
        df_result = pd.read_sql_query(query, engine)
        return df_result

    except Exception as e:
        print(f"Error executing query: {str(e)}")
        return None

In [25]:
def clean_generation_result(result: str) -> str:
    def _normalize_whitespace(s: str) -> str:
        return re.sub(r"\s+", " ", s).strip()

    return (
        _normalize_whitespace(result)
        .replace("\\n", " ")
        .replace("```sql", "")
        .replace("```json", "")
        .replace('"""', "")
        .replace("'''", "")
        .replace("```", "")
        .replace(";", "")
    )

In [27]:
sql_query = json.loads(clean_generation_result(result.text))
sql_query

{'sql': 'SELECT * FROM airlines'}

In [28]:
# Get the SQL query from the response
print("Generated SQL Query:")
print(sql_query.get("sql"))

# Execute the query
result = execute_query(sql_query.get("sql"))
result

Generated SQL Query:
SELECT * FROM airlines

   iata_code                       airline
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [3]:
print("SELECT *\nFROM users\nWHERE CAST(date_of_joining AS TIMESTAMP WITH TIME ZONE) >= CAST(\'2023-01-01 00:00:00\' AS TIMESTAMP WITH TIME ZONE)\n  AND CAST(date_of_joining AS TIMESTAMP WITH TIME ZONE) < CAST(\'2024-01-01 00:00:00\' AS TIMESTAMP WITH TIME ZONE);")

SELECT *
FROM users
WHERE CAST(date_of_joining AS TIMESTAMP WITH TIME ZONE) >= CAST('2023-01-01 00:00:00' AS TIMESTAMP WITH TIME ZONE)
  AND CAST(date_of_joining AS TIMESTAMP WITH TIME ZONE) < CAST('2024-01-01 00:00:00' AS TIMESTAMP WITH TIME ZONE);